body {
    background-color: #eceff4;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main{
    padding: 500px;
}
.add, .show {
    background-color: hsl(0, 0%, 100%); 
    margin: 40px;
}
hr{
    border-top: 1px dotted #c7c7c7;
}
span{
    color: #333333;
    padding-left: 21px;
}
.form{
    padding-top: 23px;
    padding-bottom: 45px;
}
::placeholder {
    color: #c7c7c7;
    opacity: 1; /* Firefox */
  }
  
#submit{
    background-color: #4d59a1;
    color: white;
    border-radius: 5px;
    width: 85px;
    height: 28px;
}
.name, .phone{
    padding: 6px;
    padding-left: 8px;
    padding-right: 109px;
    padding-bottom: 10px;
    margin-left: 32px;
}
/* .Inputname, .Inputphone{
    padding-left: 12px;
    padding-bottom: 7px;
    padding-right: 112px;
    margin-left: 22px;
    border-radius: 3px;
} */
input {
    border-color: #c7c7c7;
    height: 32px;
    width: 167px;
    padding-left: 131px;
    margin: 5px;
}
.head{
    padding-top: 15px;
}