body {
    background-color: #eceff4;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main{
    margin-left: 474px;
    margin-right: 545px;
}
.add, .show {
    background-color: hsl(0, 0%, 100%); 
    margin: 40px;
    border-radius: 7px;
}
hr{
    border-top: 1px dotted #c7c7c7;
}
span{
    color: #333333;
    padding-left: 46px;
}
.form{
    padding-top: 23px;
    padding-bottom: 28px;
}
::placeholder {
    color: #c7c7c7;
    opacity: 1; /* Firefox */
  }
  
#submit{
    background-color: #4d59a1;
    color: white;
    border-radius: 5px;
    width: 90px;
    height: 39px;
}
.phone{
    margin-left: 45px;
    font-size: 13px;
    color: #878383;
}
.name{
    margin-left: 47px;
    margin-bottom: -11px;
}
input {
    border-color: #dcd4d4;
    height: 48px;
    width: 302px;
    padding-left: 17px;
    margin: 5px;
    border-style: solid;
    border-radius: 5px;
    margin-left: 45px;
    margin-top: 12px;
}
.button{
    padding-left: 280px;
    padding-top: 14px;
}
.head{
    padding-bottom: 7px;
}
.head_show{
    padding-top: 20px;
    padding-bottom: 6px;
}
.delete{
    border: none;
    background-color: white;
    color: #aaa3a3;
}